.title {
  color: var(--primary-color);
}

.btnPrimary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btnPrimary:hover {
  opacity: 0.5;
  background-color: var(--primary-color);
}

.btnSecondary {
  border: none;
  color: var(--secondary-color);
}

.btnSecondary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.card {
  width: 23%;
}

.quantity {
  display: flex;
  gap: 3rem;
  width: min-content;
  margin: 1.5rem;
}

.btnQty {
  padding: 2px 4px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
}
