.header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--primary-color);
}

.title {
  font-size: 2rem;
}

.icon {
  font-size: 2rem;
  margin-right: 2rem;
  color: var(--secondary-color);
}

.badgeContainer {
  position: relative;
  display: flex;
  width: 2rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bg-color);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
