:root {
  --primary-color: #bbf7d0;
  --secondary-color: #065f46;
  --bg-color: #f0fdf4;
}

/* utils */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.disable {
  cursor: not-allowed;
}

.card-img {
  width: 100%;
}
